<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

</head>
<body>
<div class="container main-container">
    <div class="row">
        <div class="col-md-10 form-group">
            <label for="fileInput">File input</label>
            <input type="file" class="form-control" onchange="loadImg()" id="fileInput" aria-describedby="fileHelp">
        </div>
        <div class="col-md-2 btn-submit-container">
        <button type="button" class="btn btn-primary" id="upload">Process Image</button>
    </div>
    </div>
    <div>
        <img src="" id="imagePreview" class="image-preview">
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}">
</script>
</html>